@font-face {
	font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
	src: url(./fonts/Roboto-Regular.ttf);
	format: ('ttf');
}



body {
	background-color: black;
	color: rgba(209, 209, 209, 0.26);
	font-family: 'RobotoRegular', sans-serif;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 100vh;
	margin-top: 1rem;
	gap: 5rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-color: rgba(240, 248, 255, 0.423);
	border-style: solid;
	font-size: 3rem;
	font-weight: 700;
}

form, input, .return-btn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 1.5rem;
	font-weight: 200;
	color: white;
	opacity: 0.8;	
}

.form-control{
	display: flex;
	font-size: 2rem;
	font-weight: 200;
	color: white;
	opacity: 0.8;

}
	

input#btn, .return-btn{
	width:  30%;
	align-self: center;
}


input, .return-btn{
	flex-grow: 1;
	background-color: rgb(138, 138, 138);
	align-self: center;
}
label{
	flex-basis: 40%;
	font-size: 1.5rem;
	text-align: end;
	padding-right: .5rem;
	align-self: center;
}

input:focus-within, button:focus-within{
	opacity: 1;
	
}

/* #email:invalid,
#country:invalid,
#zip:invalid,
#password:invalid,
#passwordConfirm:invalid {
border: 8px dashed red;
}

#email:valid,
#country:valid,
#zip:valid,
#password:valid,
#password2:valid{
border: 8px solid green; 
} */

#email:focus,
#country:focus,
#zip:focus,
#password:focus,
#passwordConfirm:focus{
border: none;
color: white;
}

#email[type="email"]
#country[type="text"],
#zip[type="number"],
#password[type="password"],
#passwordConfirm[type="password"] {
	appearance: none; 
	color: white;
}

span {
	background-image: linear-gradient(
		90deg,
		red,
		blue,
		green,
		orange,
		yellow,
		purple
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	padding: 1rem 2rem;
}

.form-control {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 2rem;
	font-weight: 200;
	color: white;
	opacity: 0.8;
	gap: .2rem;
}

fieldset {
	display: flex;
	flex-grow:1;
	flex-direction: column;
	gap: 1rem;
	border: 0;
	width: 60dvw;
}

legend {
    font-weight: 400;
}

.submit-success-container{
	display: flex;
	flex-direction: column;

}